html{
	height: 100%;
}

body {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.well{
	height:450px;
	margin:100px 10px 10px 25px;
	width:250px;
}

footer {
	width: 1200px;
	height : 80px;
	margin: 0 auto;
	background-color: #004080;
	color: white;
	padding: 15px;
    bottom: 0;
    position : fixed;
}